{% extends 'base.html' %} {% block content %}
<div class="bg-white py-32 px-10 min-h-screen">
  <form method="post">
    {% csrf_token %}

    <div>
      <label>Email</label>
      <input
        type="email"
        name="email"
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red-800 rounded py-3 px-4 mb-3"
        
      />
    </div>
    <div>
      <label>Password</label>

      <input
        type="password"
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red-800 rounded py-3 px-4 mb-3"
        name="password"
      />
    </div>
    <button
      type="submit"
      class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold"
    >
      Login
    </button>
  </form>
</div>

{% endblock content %}
