{% extends 'base.html' %}

{% block script %} <script src="https://js.stripe.com/v3/"></script> {% endblock script%} 

{% block content %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-1">
               <img class="w-full" src="{{house_list.image.url}}" alt=""></a>
      
               <p class="text-gray-700 text-base">
                Seller : {{ house_list.user}}
              </p>
            
      <p class="text-gray-700 text-base">
        Location : {{ house_list.location}}
      </p>
      <p class="text-gray-700 text-base">
        Area : {{ house_list.area_in_sqm }}
      </p>
       <p class="text-gray-700 text-base">
        Price : {{ house_list.price }}
      </p>
    </div>
    {% if user.is_authenticated %}
    {% if house_list.user == user %}
            <button class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold m-1.5">
                <a href="{% url 'updatelisthouse' house_list.id %}">Update</a>
            <button class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold m-1.5">
                <a href="{% url 'deletelisthouse' house_list.id %}">Delete</a>
                <button class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold">
            <a href="{% url 'createcomment' house_list.id %}">Comment</a></button>
    {% else %}
      <form
          action="{% url 'payments:create-checkout-session' house_list.id %}"
          method="POST"
        >
          {% csrf_token %}
          <button type="submit" class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold m-1.5">Buy</button>
        </form>
      <button class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold m-1.5">
      <a href="{% url 'add_to_wishlist' house_list.id %}">Add to WishList</a>
          <button onclick="loadComment()" class="border border-teal-800 hover:border-teal-600 rounded py-3 px-8 text-teal-800 hover:text-teal-600 transition duration-500 font-bold">
      Comment</button>
    {% endif %}
    <h1>Comments</h1>
    {% if comments %}
    {% for comment in comments %}
              <div> Created {{ comment.pub_date }} by
                    <a href="#">{{ comment.user.email }}</a>
                </div>

                <!-- Comment body -->
                <h3 id="commentbody"> {{ comment.body }}</h3>
              {% endfor %}
          {% else %}
            <h2>There are no comments</h2>
          {% endif %}
    {% endif %}
    <script> 
      const url = "{% url 'createcomment' house_list.id %}";
      function showToast(message) {
        const toast = document.createElement("div");
        toast.classList.add("toast");
        toast.textContent = message;
        document.body.appendChild(toast);
        setTimeout(() => {
          document.body.removeChild(toast);
        }, 3000);
         toast.classList.add("show");
}

      function loadComment() {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("commentbody").innerHTML = this.responseText;
        }
      };
    xhr.open("GET", url);
    xhr.send();
  }
  function submitComment() {
        const formData = new FormData(document.getElementById("commentForm"));
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                // Handle success response
                showToast("Comment Created Successfully");
                loadComment();
            }
        };
        xhr.open("POST", url);
        xhr.send(formData);
    }
    </script>


{% endblock content %}