{% extends 'core/base.html' %}

{% block content %}
            {% comment %} <img src="{{ house_list.image.url }}" alt="{{ list.area}}" />
            <p>{{ house_list.location }}</p>
            <p>{{ house_list.area_in_sqm }}</p>
            <p>{{ house_list.price }}</p> {% endcomment %}
            {% comment %} <a href="{% url 'updatelisthouse' house_list.id %}" type="button">Update</a> {% endcomment %}
            {% comment %} <a href="{% url 'deletelisthouse' house_list.id %}">Delete</a> {% endcomment %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-1">
               <img class="w-full" src="{{house_list.image.url}}" alt=""></a>
            
      <p class="text-gray-700 text-base">
        Location : {{ house_list.location}}
      </p>
      <p class="text-gray-700 text-base">
        Area : {{ house_list.area_in_sqm }}
      </p>
       <p class="text-gray-700 text-base">
        Price : {{ house_list.price }}
      </p>
    </div>
    {% if user.is_authenticated %}
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full m-1">
                <a href="{% url 'updatelisthouse' house_list.id %}">Update</a>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full m-1">
                <a href="{% url 'deletelisthouse' house_list.id %}">Delete</a>
    {% endif %}
</button>


{% endblock content %}